{% extends 'photos/nav.html' %}
{% load static %}
<head>
    <title>{% block title %}Pinterest | Add photos{% endblock title %}</title>
{% block css_files %}
<link rel="stylesheet" href='{% static "base.css"%}'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.11.2/css/all.css' %}">
<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
<script src="{% static 'https://kit.fontawesome.com/d0acd0f2a3.js' %}" crossorigin="anonymous"></script>
<!-- Plugin file -->
<link rel="stylesheet" href="{% static './css/addons/datatables.min.css' %}">
{% endblock %}
</head>

{% block content %}
{% if user.is_authenticated %}
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
               <h3 class='my-4'>You can upload photo here.</h3>
                <div class="card">

                    <form method='POST' action='' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="form-group m-3">
                            <label>Description:</label>
                            <input required name='description' type="text" placeholder='Enter a description' class='form-control'>
                        </div>

                        <div class="form-group m-3">
                            <label>Select a category:</label>
                            <select name='category' class='form-control'>
                                <option value="none">Select a category...</option>
                                {% for category in categories %}
                                <option value="{{category.id}}">{{category.name}}</option>                                
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group m-3">
                            <label>Create a new category:</label>
                            <input name='category_new' type="text" placeholder='Create a new category' class='form-control'>
                        </div>

                        <div class="form-group m-3">
                            <label>Upload image:</label>
                            <input multiple name='image' type="file" class='form-control'>
                        </div>

                        <button type="submit" class='btn btn-success m-3'>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% else %}
<div class="container d-flex justify-content-center ">
<div class="card my-5">
    <div class="card-body">
      <h5 class="card-title text-bold">Want to upload photo?</h5>
      <p class="card-text">
        Sign in or create an account to upload photo!
      </p>
      <a href="/" class='text-dark'><button type="button" class="btn btn-outline-primary btn-sm" data-mdb-ripple-color="dark">
      Cancel
      </button></a>
      <a href="/login" class='text-white'>
          <button type="button" class="btn btn-primary">Sign in</button>
        </a>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

